* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Brand colors */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Ascent colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    /* Fedback */
    --danger: #FF5959;

    /* Input colors */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    
    /* Shape colors */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text colors */
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /* Font Family */
    --leckerli-one: "Leckerli One", cursive;
    --font-family-logo: 400 2.5rem/normal var(--leckerli-one);

    --baloo-2: "Baloo 2", sans-serif;
    --heading-md: 800 1.75rem/normal var(--baloo-2);
    --heading-sm: 800 1.125rem/normal var(--baloo-2);

    --open-sans: "Open Sans", sans-serif;
    --body-md: 300 1rem/normal var(--open-sans);
    --body-sm: 500 .875rem/normal var(--open-sans);
    --body-xs: 500 .75rem/normal var(--open-sans);
}

body {
    overflow: hidden;
    background-color: #1E1E1E;
    
}

img {
    max-width: 100%;
}

